footer {
            position: relative;
            /* Altura total del footer en px con valor negativo */
            margin-top: 330px;
            /* Altura del footer en px. Se han restado los 5px del margen
               superior mas los 5px del margen inferior
            */
            height: 30px;
            padding:25px 0px;  
            clear: both;
            background: #286af0;
            text-align: center;
            color: #fff;
        }